@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.bg-button {
    background: #646475 !important;
}

.text-check {
    color: rgba(255, 255, 255, 0.8) !important;
}

.text-checkbox {
    color: #0fffd5 !important;
}

.q-checkbox__svg {
    color: #000 !important;
}

div#q-loading-bar {
    display: none !important;
}

::-webkit-scrollbar {
    display: none !important;
}

.q-card {
    background: rgb(35, 34, 56) !important;
}

p {
    margin: 0 !important;
}

.q-btn {
    align-items: center !important;
}

.text-h6 {
    color: #fff;
}

.q-card__section.q-card__section--vert.q-pt-none {
    color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

:root {
    --main-label-color: 38, 41, 60;
}

.fas.fa-lock {
    font-size: 17px;
    top: -82px;
    right: 0px;
    position: relative;
}

.brand-logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 3px;
    padding-bottom: 10px;
    width: 45%;
}

::placeholder {
    color: white;
    text-align: center;
    line-height: 48px;
    text-transform: normal;
    font-size: 1.5vh;
    font-family: 'Oswald';
}

/* rgb() */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

#progressbar {
    width: 134.7%;
    margin-left: -0.07vw;
    margin-top: 7.3%;
    background-color: rgb(39 39 49);
}

#progressbar-other {
    width: 134.7%;
    margin-left: -0.5vw;
    margin-top: 7.3%;
    background-color: rgb(39 39 49);
}

.pro {
    background: linear-gradient(to right, #64e778, #9a0b0b 500px);
    height: 0.4vw;
    max-width: 100%;
    transition: width 1s, background-color 1s;
}

.pro1 {
    background: linear-gradient(to right, #64e778, #9a0b0b 500px);
    height: 0.4vw;
    max-width: 100%;
    transition: width 1s, background-color 1s;
}

.weight-img {
    margin-top: 0.6%;
    width: 4%;
    right: -14%;
    position: absolute;
}

.weight-img-other {
    margin-top: 0.6%;
    width: 4%;
    right: -12%;
    position: absolute;
}

body {
    overflow-x: hidden;
}

@keyframes fadeInUpBig {
    0% {
        opacity: 0;
        transform: translateY(2000px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#qbcore-inventory {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0vw;
    display: none;
    user-select: none;
    animation-duration: 0.8s;
    animation: fadeInUpBig;
    transform: scale(0.9);
}

.inv-background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.inv-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.player-inventory-bg {
    position: absolute;
    float: left;
    top: 20%;
    left: 7.2%;
    width: 35%;
    max-width: 37%;
    height: 60%;
    max-height: 81%;
    background: rgba(34, 35, 51, 0.80);
}

.player-inventory {
    position: absolute;
    top: 8%;
    left: 2.35%;
    width: 96.22%;
    max-width: 102.22%;
    height: 89%;
    max-height: 132%;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
}

.other-inventory-bg {
    position: absolute;
    float: left;
    top: 20%;
    right: 7.2%;
    width: 35%;
    max-width: 36%;
    height: 60%;
    max-height: 81%;
    background: rgba(34, 35, 51, 0.80);
}

.other-inventory {
    position: absolute;
    top: 8%;
    right: 1.5%;
    width: 96.22%;
    max-width: 102.22%;
    height: 89%;
    max-height: 132%;
    float: right;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 100;
}

.ply-hotbar-inventory {
    position: absolute;
    bottom: 10%;
    left: 35.5%;
    z-index: 105;
}

.player-inventory>.item-slot>.item-slot-key>p {
    position: absolute;
    font-weight: 400;
    color: hsl(0deg 0% 0% / 15%);
    padding-top: 5.2vh;
    padding-bottom: 0px;
    padding-left: 3.95vh;
    text-align: left;
    font-size: 7vh;
    line-height: 1.8vh;
    font-family: 'Oswald';
}

.inv-options {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
    height: auto;
    margin: 20% auto;
    background: rgba(34, 35, 51, 0.80);
    right: 0px;
    width: 11%;
    left: 3vh;
    cursor: pointer;
    /* Can also be 'none' however, as these are the buttons I feel as the pointer fits better */
}

.combine-option-container {
    display: none;
    position: relative;
    right: 0px;
    width: auto;
    left: 0vh;
    margin: 0px auto;
}

.item-slot {
    position: relative;
    width: 11.5vh;
    height: 13vh;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgb(102 102 113 / 30%) !important;
    margin: 2px;
    transition: opacity 0.2s ease 0s;
}

.item-slot:hover {
    background-color: rgb(48 48 56 / 30%) !important;
}

.inv-option-item {
    margin-top: 10%;
}

.btn-inv {
    width: 100% !important;
    max-width: 100% !important;
    padding: 10% !important;
    background-color: rgba(235, 235, 235, 0);
}

#item-amount {
    color: white;
    text-align: center;
    font-size: 1.2vh;
    font-weight: 400;
    font-family: 'Oswald';
    outline: none;
}

.ammo-info-block {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 22vh;
    height: 11vh;
    background-color: rgba(235, 235, 235, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.01);
    top: 2vh;
}

.ammo-info-header {
    /* background-color: rgba(5, 5, 5, 0.5); */
    width: 100%;
    color: white;
    font-family: 'Oswald', sans-serif !important;
    background-color: rgba(0, 0, 0, 0.192);
    font-size: 1.vh;
    padding: .4vh;
    text-align: center;
}

.ammo-info {
    position: relative;
    color: white;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 200;
    font-size: 1.vh;
    margin-left: .8vh;
    margin-top: .4vh;
    margin-bottom: .25vh;
    top: .6vh;
}

.ammo-info span {
    margin-right: 1vh;
    float: right;
}

.inv-option-item>p {
    color: white;
    text-align: center;
    line-height: 59px;
    font-size: 1.5vh;
    font-weight: 400;
    font-family: 'Oswald';
}

.inv-option-item {
    margin-top: 4%;
    border: 1px solid rgba(220, 240, 220, 0.05);
    width: 100%;
    height: 3.2vw;
    margin-left: 0%;
    background-color: rgb(102 102 113 / 30%) !important;
    color: white;
    transition: background-color .1s linear;
    border-radius: 0px !important;
}

.inv-option-hand {
    margin-top: 20%;
    /*     width: 80%; */
    height: 100px;
    margin-left: 10%;
    transition: background-color .1s linear;
}

.inv-option-item:hover {
    background-color: #5c5c6c;
}

.btn-combine {
    position: relative;
    margin-top: 6px;
    width: auto;
    top: 0px;
    left: 0px;
    background-color: #646475 !important;
    text-align: center;
    line-height: 48px;
    font-size: 1.2vh;
    font-weight: 900;
    font-family: Oswald, sans-serif !important;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.01);
    border-image: initial;
    transition: background-color 0.1s linear 0s;
}

.btn-combine>p {
    color: white;
    text-align: center;
    font-size: 1.5vh;
    font-weight: 300;
    font-family: 'Oswald', sans-serif !important;
    outline: none;

}

.item-slot-amount {
    position: absolute;
    bottom: 0.5vh;
    left: 0.5vw;
    font-family: 'Oswald', sans-serif !important;
}

.item-slot-amount>p {
    color: #ffffff;
    text-align: right;
    font-size: 1.2vh;
    font-weight: 400;
    cursor: none;
}

.item-slot-amount>p:after {
    content: "x"
}

.item-slot-name {
    position: absolute;
    bottom: 0.4vh;
    right: 0.5vw;
    font-family: 'Oswald', sans-serif !important;
}

.item-slot-name>p {
    color: #ffffff;
    text-align: right;
    font-size: 1.2vh;
    font-weight: 400;
    cursor: none;
}

.item-slot-label {
    position: absolute;
    top: 0%;
    width: 100%;
    background-color: transparent;
}

.item-slot-label>p {
    font-weight: 400;
    padding: 2.5px;
    padding-left: 5px;
    color: white;
    font-size: 1.2vh;
    text-align: left;
    letter-spacing: 0px;
    font-family: 'Oswald';
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: none;
}

.item-slot-quality {
    position: absolute;
    bottom: 0.0vh;
    width: 100%;
    height: 0.15vh;
    background-color: rgba(32, 6, 6, 0.15);
}

.item-slot-quality-bar {
    position: absolute;
    width: 0%;
    height: 150%;
    background-color: #0fffd5;
    z-index: 1;
}

.item-slot-quality p {
    color: transparent;
}

.item-slot-img {
    max-width: 100%;
    max-height: 100%;
    padding: 1vw 0.9vw 0.9vw 0.9vw;
}

.item-slot-img img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 9%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.item-slot-img-itembox img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 2vh;
    width: auto;
    height: auto;
    max-width: 75%;
    max-height: 100%;
}

.item-slot-img2 img {
    display: block;
}

.ui-draggable-dragging {
    background: rgba(0, 0, 0, 0.3);
}

.player-inv-info {
    position: absolute;
    left: 8.22%;
    top: 18.6%;
    width: 24.6%;
    z-index: 1000;
    cursor: none;
}

#player-inv-label {
    position: relative;
    color: white;
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: 600;
    letter-spacing: 0.01vh;
    left: -0.1vw;
    top: 1.1vw;
    float: left;
    cursor: none;
}

#player-inv-weight {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 900;
    font-family: 'Oswald';
    letter-spacing: 0.1vh;
    bottom: 2.1vw;
    right: -34.6%;
    float: right;
}

#other-inv-label {
    position: relative;
    color: white;
    font-size: 20px;
    font-family: 'Oswald';
    font-weight: 600;
    letter-spacing: 0.01vh;
    left: -0.48vw;
    top: 1.1vw;
    float: left;
    text-transform: normal;
    cursor: none;
}


#other-inv-weight {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 900;
    font-family: 'Oswald';
    letter-spacing: 0.1vh;
    cursor: none;
    bottom: 2.1vw;
    right: -33.0%;
    float: right;
}

.player-inv-weight {
    position: absolute;
    left: 38%;
    top: 10%;
}

.player-inv-weight>p {
    color: white;
    font-size: 12px;
    font-family: 'Oswald', sans-serif !important;
}

.other-inv-info {
    position: absolute;
    right: 16.22%;
    top: 18.6%;
    width: 24.6%;
    z-index: 1000;
    cursor: none;
}

.ply-iteminfo-container {
    background-color: rgba(34, 35, 51, 0.80);
    color: rgba(220, 220, 220, 1);
    border: 1px solid rgba(220, 240, 220, 0.05);
    font-size: 1.35vh;
    font-weight: 0;
    left: 41%;
    max-height: 25%;
    min-height: 50px;
    overflow: hidden;
    padding: 1%;
    pointer-events: none;
    position: absolute;
    text-decoration: none;
    top: 78%;
    transition: opacity 0.6s ease;
    width: 14%;
    z-index: 9999;
}

.item-info-title {
    font-weight: 900;
    font-size: 1.5vh;
    margin-bottom: 0.7vh;
    letter-spacing: 1.3px;
    line-height: 1;
    color: white;
    font-family: 'Oswald';
    padding-top: 4px;
    padding-left: 5px;
}

.item-info-line {
    position: absolute;
    font-family: 'Oswald';
    width: 85%;
    background-color: #ffffff;
    height: 0.13vh;
}

.item-info-description {
    font-size: 1.2vh;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.3px;
    font-family: 'Oswald';
    color: white;
    padding-left: 5px;
    padding-top: 0.8vh;
}

.itemboxes-container {
    height: 6.82vw;
    min-width: 129px;
    max-width: 20vw;
    width: fit-content;
    position: absolute;
    left: 47%;
    bottom: 20%;
    overflow: hidden;
}

.template {
    display: none;
}

.itembox-container {
    display: none;
    position: relative;
    float: left;
    margin: 0 auto;
    margin-right: 1vh;
    width: 110px;
    height: 130px;
    background: rgba(34, 35, 51, 0.80);
    border-bottom: 2px solid #00f8b9;
    transform: scale(0.9);
}

#itembox-action {
    position: absolute;
    color: white;
    border-top-left-radius: 1px;
    padding: 4px;
    top: 0;
    left: 0.2vw;
}

#itembox-action>p {
    font-size: 1.25vh;
    font-weight: 400;
    font-family: 'Oswald';
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

#itembox-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Oswald';
    background-color: #0fffd5;
    height: 0.1vh;
}

.itembox-image {
    max-width: 10%;
    max-height: 100%;
    padding: 0.10vw;
}

#itembox-label>p {
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    font-size: 1.2vh;
    text-align: center;
    bottom: 1.2vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.requiredItem-container {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.requiredItem-box {
    top: 63%;
    left: 1%;
    position: relative;
    float: left;
    margin: 0 auto;
    margin-right: 1vh;
    width: 110px;
    height: 130px;
    background: rgb(56 0 0 / 80%);
}

#requiredItem-action {
    position: absolute;
    color: white;
    border-top-left-radius: 1px;
    padding: 4px;
    top: 0;
    left: 0;
    font-size: 1.05vh;
    font-weight: 400;
    font-family: 'Oswald', sans-serif !important;
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

#requiredItem-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0fffd5;
    height: 0.2vh;
}

#requiredItem-label>p {
    padding-left: 15px;
    padding-right: 15px;
    color: #ffffff;
    font-size: 1.0vh;
    text-align: center;
    bottom: 1vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    white-space: pre;
    text-overflow: ellipsis;
    overflow: hidden;
}

.item-slot-img-itembox-test img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 1.3vh;
    width: 80px;
    height: 80px;
    max-width: 100%;
    max-height: 100%;
}

.z-hotbar-inventory {
    display: none;
    transform: scale(0.85);
    position: absolute;
    bottom: 0.05vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: fit-content;
    z-index: 105;
}

.z-hotbar-inventory>.z-hotbar-item-slot>.z-hotbar-item-slot-key>p {
    position: absolute;
    font-weight: 400;
    color: hsl(0deg 0% 0% / 56%);
    padding-top: 5.0vh;
    padding-bottom: 0px;
    padding-left: 3.5vh;
    text-align: left;
    font-size: 7vh;
    line-height: 1.8vh;
    font-family: inherit;
    z-index: -3;
}

.z-hotbar-item-slot {
    font-family: 'Oswald';
    position: relative;
    width: 10.5vh;
    height: 12vh;
    float: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 0.5vh;
    margin-bottom: 0.5vh;
    background: rgba(34, 35, 51, 0.80);
}

.z-hotbar-item-slot-amount {
    position: absolute;
    bottom: 0.5vh;
    left: 0.4vw;
}

.z-hotbar-item-slot-amount>p {
    color: #ffffff;
    text-align: left;
    font-size: 0.6vw;
}

.z-hotbar-item-slot-amount>p:after {
    content: "x";
}

.z-hotbar-item-slot-amount-name {
    position: absolute;
    bottom: 0.5vh;
    right: 0.4vw;
}

.z-hotbar-item-slot-amount-name>p {
    color: #ffffff;
    text-align: right;
    font-size: 0.6vw;
}

.z-hotbar-item-slot-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    min-height: 2.2vh;
    height: fit-content;
}

.z-hotbar-item-slot-label>p {
    color: rgb(247, 247, 247);
    font-size: 11.5px;
    text-align: center;
    text-transform: lowercase;
    font-family: 'Oswald', sans-serif !important;
    font-variant: small-caps;
}

.z-hotbar-item-slot-img {
    max-width: 100%;
    max-height: 100%;
    padding: 0.8vw;
}

.z-hotbar-item-slot-img img {
    margin-top: 1vh;
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.ammo-container {
    position: absolute;
    background-color: rgba(20, 18, 32, 0.2);
    width: 3.25%;
    height: 44.16%;
    top: 26%;
    left: 6%;
}

.ammo-container-header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vh;
    background-color: rgba(120, 10, 20, 0.5);
    text-align: center;
    color: rgba(216, 216, 216, 0.897);
}

.ammo-container-header>i {
    line-height: 5vh;
    font-size: 1.8vh;
}

.ammo-box {
    position: relative;
    width: 100%;
    height: 6vh;
    top: 5vh;
    background-color: rgba(0, 0, 0, .4);
    margin-bottom: .5vh;
    margin-top: .5vh;
}

.ammo-box>img {
    position: absolute;
    top: .15vh;
    left: .2vh;
    width: 5.25vh;
    opacity: .25;
}

.ammo-box>span {
    position: absolute;
    color: rgba(255, 255, 255, 0.95);
    font-size: .93vh;
    bottom: 0;
    right: 0;
    margin: .3vh;
    font-family: 'Oswald', sans-serif !important;
}

.ammo-box-amount {
    position: absolute;
    width: 100%;
    background-color: rgba(36, 36, 36, 0.4);
    bottom: 0;
    max-height: 100%;
}

#pistol_ammo>.ammo-box-amount {
    height: 0%;
}

#smg_ammo>.ammo-box-amount {
    height: 0%;
}

#shotgun_ammo>.ammo-box-amount {
    height: 0%;
}

#rifle_ammo>.ammo-box-amount {
    height: 0%;
}

/* Weapon Attachments */

.weapon-attachments-container {
    position: absolute;
    left: -100vw;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.weapon-attachments-container-title {
    position: absolute;
    margin: 5vh;
    font-size: 3vh;
    color: rgb(255, 255, 255);
    font-family: 'Oswald';
}

.weapon-attachments-container-description {
    position: absolute;
    margin: 5vh;
    top: 5vh;
    font-size: 1.7vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Oswald';
}

.weapon-attachments-container-details {
    position: absolute;
    margin: 5vh;
    top: 9vh;
    font-size: 1.4vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Oswald';
}

.weapon-attachments-container-detail-durability {
    height: 1.5vh;
    width: 10vh;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 1px;
}

.weapon-attachments-container-detail-durability-total {
    height: 100%;
    width: 50%;
    background-color: #0fffd5;
}

.weapon-attachments-container-image {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 25%;
    width: 48%;
}

.weapon-attachments {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5vh;
    width: 50vh;
    height: 12.5vh;
}

.weapon-attachments-title {
    position: absolute;
    bottom: 14vh;
    left: 0;
    margin: 5vh;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Oswald';
    font-size: 1.4vh;
}

.weapon-attachment {
    position: relative;
    height: 12.5vh;
    width: 10.5vh;
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgb(75, 75, 75);
    margin-right: 1vh;
    float: left;
    transition: .05s linear;
}

.weapon-attachment:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(29, 29, 29);
    transition: .05s linear;
}

.weapon-attachment-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(var(--main-label-color), 0.3);
    padding: 2.1%;
}

.weapon-attachment-label>p {
    color: #ffffff;
    font-size: 1.1vh;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.9vh;
    font-family: 'Oswald', sans-serif !important;
    font-weight: 100;
}

.weapon-attachment-img {
    max-width: 100%;
    max-height: 100%;
    padding: 0.5vw;
}

.weapon-attachment-img>img {
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 10%;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.weapon-attachments-remove {
    position: absolute;
    width: 6.5vh;
    height: 6.5vh;
    background-color: rgb(15, 15, 15);
    border-radius: 1px;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20vh;
    text-align: center;
    color: white;
    font-size: 2vh;
    transition: background-color .05s linear;
}

.weapon-attachments-remove:hover {
    background-color: rgb(18, 18, 18);
}

.weapon-attachments-remove>i {
    line-height: 6.5vh;
}

.weapon-attachments-remove-hover {
    background-color: #0fffd5;
}

.weapon-dragging-class {
    animation: ShakeEffect .75s;
    animation-iteration-count: infinite;
}

@keyframes ShakeEffect {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.weapon-attachments-back {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10vh;
    height: 6vh;
    margin: 5vh;
    background-color: rgb(15, 15, 15);
    border-radius: 1px;
    text-align: center;
    line-height: 6vh;
    color: white;
    font-family: 'Oswald';
    transition: .05s linear;
}

.weapon-attachments-back:hover {
    background-color: rgb(18, 18, 18);
}


.GiveItembox {
    display: none;
    position: absolute;
    height: 4.8em;
    padding-left: 0.5vw;
    padding-top: 0.6vw;
    padding-right: 0.5vw;
    width: 13.2em;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    bottom: 18.3vw;
    background: rgb(34 35 51 / 80%);
    z-index: 560;
    overflow-y: scroll;
}

.GiveItemPlayersButton {
    width: 100%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
    background-color: #444554 !important;
    text-shadow: none;
    font-size: 15px !important;
    outline: none;
    text-transform: none;
    text-align: center;
    line-height: 60px;
    transition: 300ms all;
    padding-top: 0vw;
}

.GiveItemPlayersButton:hover {
    background-color: #444554;
}

/*     bottom buttons        */
.bottom-buttons {
    top: 38vw;
    left: 41.4vw;
    width: 30vh;
    display: flex;
    justify-content: center;
    position: absolute;
}

.bottom-button {
    background: rgba(34, 35, 51, 0.80);
    border: 1px solid rgba(220, 240, 220, 0.05);
    border-radius: 0.2vw;
    color: #fff;
    text-align: center;
    display: inline-block;
    width: 12%;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
    margin-left: 0.5vh;
    font-size: 1.6vh;
    font-weight: 700;
    height: 100%;
}

.bottom-button:hover {
    opacity: 1.0;
}

.help-menu {
    background: rgb(34, 35, 51);
    border: 1px solid rgba(220, 240, 220, 0.05);
    color: rgba(220, 220, 220, 1);
    display: none;
    font-size: 1.5vh;
    padding: 3.5%;
    font-family: 'Oswald';
    padding-bottom: 1.5vw;
    position: absolute;
    width: 35vw;
    left: 0vw;
    bottom: -2.0vw;
    z-index: 9999;
}